<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @client.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @client.lastName %>
</p>

<p>
  <strong>Street:</strong>
  <%= @client.street %>
</p>

<p>
  <strong>Streetnr:</strong>
  <%= @client.streetNr %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @client.zipCode %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @client.birthDate %>
</p>

<p>
  <strong>Deathdate:</strong>
  <%= @client.deathDate %>
</p>

<p>
  <strong>Birthplace:</strong>
  <%= @client.birthPlace %>
</p>

<p>
  <strong>Socialsecuritynumber:</strong>
  <%= @client.socialSecurityNumber %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @client.nationality %>
</p>

<p>
  <strong>Mobilenumber:</strong>
  <%= @client.mobileNumber %>
</p>

<p>
  <strong>Banker:</strong>
  <%= @client.banker_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
